head
  title Heatmapper
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel="stylesheet", href="/stylesheets/main.css")
  block styles
  meta(name="viewport", content="width=device-width, initial-scale=1")