/* Colours */
$dark-red:      #550000;
$mid-dark-red:  #801515;
$mid-red:       #AA3939;
$mid-light-red: #D46A6A;
$light-red:     #FFAAAA;

/* Element Values */
$splash-bg:     $dark-red;
$splash-color:  #FFFFFF;

/* Fonts */
$main-font:     Helvetica, sans-serif;