@import '_variables';
.header {
    background-color: #333333;
    color: #FFFFFF;
    display: block;
    height: 3vh;
    line-height: 3vh;
    width: 100%;
}
.splash {
    background-color: $splash-bg;
    color: $splash-color;
    display: block;
    font-size: 10vh;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    width: 100%;
}
.wrapper {
    margin: 5vh auto;
    width: 80%;
}